<h3><i class="fa-duotone fa-gas-pump"></i> FUEL Me </h3>
<div class="section">
    <p>Manage your fuel easily</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/api/user/auth/google" class="btn red darken-1">
        <i class="fab fa-google-left"></i> Log In With Google
    </a>
</div>